<p style="text-align:center;background-color:  #fff;margin: 0; padding: 10px">TradeMark OpenLabs 2018</p><script type="text/javascript" src="scripts/script.js"></script>
<script type="text/javascript" src="scripts/jquery.waypoints.min.js "></script>

<script type="text/javascript" src="scripts/bootstrap.js"></script>
<!--Owl Carousel js-->
<script src="scripts/owl.carousel.min.js"></script>
</body>

</html>
