<p style="text-align:center">TradeMark OpenLabs 2018</p>
   <script type="text/javascript" src="scripts/script.js"></script>
   <script type="text/javascript" src="scripts/bootstrap.js"></script>
</body>
</html>