<!-- Preloader -->
<div id="preloader">
    <div id="stats">&nbsp;</div>
</div>

<!--Home Sections-->
<section id="home">
    <!--video-->
    <!-- <video poster="../public/images/video/poster.jpg">
        <source type="mp4" src="../public/images/video/solo.mp4">
        <source type="ogv" src="../public/images/video/solo.ogv">
        <source type="webm" src="../public/images/video/solo.webm">    
    </video> -->

    <video    autoplay="autoplay">
        <source src="../public/images/video/solo.mp4">  
    </video>
</section>