<% include partials/header %>
    <!-- Preloader -->
    <div id="preloader">
        <div id="stats">&nbsp;</div>
    </div>

    <!-- Header -->
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navy-bar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--logo-->
                    <a class="navbar-brand smooth-scroll" href="#home">
                        <img id="logo_img" src="images/logo/logo2.png" alt="logo">
                    </a>
                    <!-- end logo-->
                </div>

                <!-- Main Menu -->
                <div class="collapse navbar-collapse linkColor" id="navy-bar">
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a class="smooth-scroll" href="#home">Fat Boy</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" href="#team">Team</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" href="#contact">Contact</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" id="sign_u">SignUp</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" id="login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Header Ends -->

    <!--Home Section-->
    <section id="home">
        <!--video-->
        <video id="home_video" autoplay muted poster="/images/video/poster.jpg" loop="loop">
            <source src="/images/video/openlabs_1.mp4">
            <source src="/images/video/solo.ogv">
            <source src="/images/video/solo.webm">
        </video>
        <!--Overlay-->
        <div id="home_overlay">

        </div>
        <!-- Home Content -->
        <div id="home_text">

            <div id="home_inner" class="text-center">

                <div id="home-heading">
<!--                    <h1 id="home-heading-1"></h1>-->
                    <br>
                    <h1 id="home-heading-2">OPEN
                        <span>LABS</span>
                    </h1>
                </div>

                <div id="sub-text">
                    <p>TYPE YOUR EMAIL TO GET NOTIFICATIONS ABOUT MY LAUNCH!!</p>
                    <div id="decrease" class="input-group control">
                        <input class="form-control" class="form-control" placeholder="School E-mail" aria-describedby="input-schools" />
                        <span class="btn btn-default btn-primary input-group-addon" id="input-schools">Submit</span>
                    </div>
                </div>
            </div>

        </div>

        <!-- Arrow Down -->
        <a href="#about" id="arrow-down" class="smooth-scroll">
            <i class="fa fa-angle-down"></i>
        </a>

    </section>

    <!-- About us Section -->
    < <section id="about">
        <div class="content-box-lg">
            <div class="container">
                <div class="col-md-5 story">
                    <div id="up" class="vertical-heading">
                        <h5>Open Labs</h5>
                        <h2>About
                            <br>
                            <strong>Me</strong>
                        </h2>
                    </div>
                    <p>
                        Hi All !!. Im Open Labs, a software that uses the power of AI to make college life easier. For now i can tell you
                        which labs or classes on your campus are free so you dont have to stress looking for where to study, run experiments or set meetings.
                        Here's a few facts about me &#128522.
                        <div class=" space">
                        <div class="row">
                            <div class="col-lg-6">
                                    <h5><i class="fa fa-check-circle" ></i> You can chat with me on messenger and on here</h5>
                                    <h5><i class="fa fa-check-circle" ></i>  I was created by senior college students</h5>
                            </div>
                            <div class="col-lg-6">
                                    <h5><i class="fa fa-check-circle" ></i> I love playing games</h5>
                                    <h5><i class="fa fa-check-circle" ></i> One of my creators hates linux. So he made me hate it too &#128579.</h5>
                                    <div class="space">
                                      <i class="fa fa-2x fa-hand-o-right"><a class="btn btn-default btn-primary" href="#contact" title="Submit" role="button">Know More</a> </i>
                                    </div>
                                </div>
                        </div>
                        </div>

                    </p>
                </div>
                <div id="myCarousel" class="carousel slide col-md-offset-1 col-md-6" data-ride="carousel">
                    <!-- Indicators  -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
                        </div>

                        <div class="item">
                            <img src="https://images.unsplash.com/photo-1460518451285-97b6aa326961?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                        </div>

                        <div class="item">
                            <img src="https://images.unsplash.com/photo-1550202256-47e53ffabc95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
<!--        <div class="full-width">-->
<!--            <div class="container cards">-->
<!--                <div class="flex-row">-->
<!--                    <div class="card-item">-->
<!--                        <i class="fa fa-superpowers fa-4x"></i>-->
<!--                        <p>-->
<!--                            Blessed is the man who doesn't walk in the counsel of the wicked, nor stand in the way of sinners, nor sit in the seat of-->
<!--                            scoffers; but his delight is in Yahweh's law. On his law he meditates day and night. He will-->
<!--                            be like a tree planted by the streams of water, that brings forth its fruit in its season, whose-->
<!--                            leaf also does not wither.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    <div class="card-item">-->
<!--                        <i class="fa fa-bomb fa-4x"></i>-->
<!--                        <p>-->
<!--                            Blessed is the man who doesn't walk in the counsel of the wicked, nor stand in the way of sinners, nor sit in the seat of-->
<!--                            scoffers; but his delight is in Yahweh's law. On his law he meditates day and night. He will-->
<!--                            be like a tree planted by the streams of water, that brings forth its fruit in its season, whose-->
<!--                            leaf also does not wither.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="flex-row">-->
<!--                    <div class="card-item">-->
<!--                        <i class="fa fa-home fa-4x"></i>-->
<!--                        <p>-->
<!--                            Blessed is the man who doesn't walk in the counsel of the wicked, nor stand in the way of sinners, nor sit in the seat of-->
<!--                            scoffers; but his delight is in Yahweh's law. On his law he meditates day and night. He will-->
<!--                            be like a tree planted by the streams of water, that brings forth its fruit in its season, whose-->
<!--                            leaf also does not wither.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    <div class="card-item">-->
<!--                        <i class="fa fa-camera-retro fa-4x"></i>-->
<!--                        <p>-->
<!--                            Blessed is the man who doesn't walk in the counsel of the wicked, nor stand in the way of sinners, nor sit in the seat of-->
<!--                            scoffers; but his delight is in Yahweh's law. On his law he meditates day and night. He will-->
<!--                            be like a tree planted by the streams of water, that brings forth its fruit in its season, whose-->
<!--                            leaf also does not wither.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        </section>

        <!-----Team section -->
        <section id="team">

            <div class="content-box-lgg">
                <div class="container">
                    <!--Team members left nd right-->
                    <div class="row ">

                        <div class="col-lg-6">

                            <div id="left-team">

                                <div class="vertical-heading">
                                    <h5>Open Labs</h5>
                                    <h2>Meet My
                                        <strong>Talented</strong>
                                        <br>Creators</h2>
                                </div>

                                <p>
                                    Meet my creators!! they are the perfect blend of creativity and technical wizardry.
                                    They have a flat hierarchy, work as equals, celebrate as a team and best part
                                    &#128522 make fun of each other face to face. You can rely on them to
                                    continuously improve me. Here is my skill rating below &#128071


                                </p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div id="team-members" class="owl-carousel owl-theme">

                                <div class="team-member">
                                    <img src="images/team/team-1.jpg" alt="team-member" class="img-responsive">
                                    <div class="team-overlay">
                                        <div class="team-member-info text-center">
                                            <h6>Ayo Aloko</h6>
                                            <p>Software Engineer</p>

                                            <ul class="social-list">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                </div>
<!--                                <div class="team-member">-->
<!--                                    <img src="images/team/team-2.jpg" alt="team-member" class="img-responsive">-->
<!--                                    <div class="team-overlay">-->
<!--                                        <div class="team-member-info text-center">-->
<!--                                            <h6>Javier Campos</h6>-->
<!--                                            <p>Backend Developer</p>-->
<!--                                            <ul class="social-list">-->
<!--                                                <li>-->
<!--                                                    <a href="#">-->
<!--                                                        <i class="fa fa-facebook"></i>-->
<!--                                                    </a>-->
<!--                                                </li>-->
<!--                                                <li>-->
<!--                                                    <a href="#">-->
<!--                                                        <i class="fa fa-twitter"></i>-->
<!--                                                    </a>-->
<!--                                                </li>-->
<!--                                                <li>-->
<!--                                                    <a href="#">-->
<!--                                                        <i class="fa fa-google"></i>-->
<!--                                                    </a>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                </div>-->
                                <div class="team-member">
                                    <img src="images/team/team-3.jpg" alt="team-member" class="img-responsive">
                                    <div class="team-overlay">
                                        <div class="team-member-info text-center">
                                            <h6>Chukwurah Somtoo</h6>
                                            <p>Software Engineer</p>

                                            <ul class="social-list">
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fa fa-google"></i>
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="skill-elements">
                        <!--skill bar-->
                        <div class="row">
                            <div class="col-lg-6">

                                <!-- Skill 1 -->
                                <div class="skill">
                                    <h4>TEAM SPIRIT</h4>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                            <span>90%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="skill">
                                    <h4>COMMUNICATION</h4>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                            <span>90%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="skill">
                                    <h4>SENSE OF HUMOR</h4>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                            <span>40%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="skill">
                                    <h4>SOFTWARE DEVELOPMENT</h4>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                            <span>90%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Team section is over  -->

        <!-- statement section -->
        <section id="statement">
            <div class="content-box-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="tech-statement" class="text-center">
                                <h3>
                                    <i class="fa fa-quote-left"></i> Your goal should no longer be to get more done, but
                                    rather have less to do. Use me to amp up your productivity.
                                    <i class="fa fa-quote-right"></i>
                                </h3>
                                <p>-Open Labs + Francine Jay-</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of statement section -->

        <!-- Begining of contact section -->
        <section id="contact">
            <div class="content-box-md">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- left contact -->
                            <div id="contact-left">

                                <div class="vertical-heading">
                                    <h5>Open Labs</h5>
                                    <h2>Contact
                                        <br>
                                        <strong>Us</strong>
                                    </h2>
                                </div>
                                <p>
                                    If you have questions, features you want the team to add or you just want to hang out
                                    with me and the team. Drop a message and i will make sure my creators get back to
                                    you.
                                </p>

                                <div id="campuses">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="campus">
                                                <h4>United States</h4>
                                                <ul class="campus-details">
                                                    <li>
                                                        <i class="fa fa-mobile"></i>+1-(219)-804-8183</li>
                                                    <li>
                                                        <i class="fa fa-envelope"></i>support@openlabs.com
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-map-marker"></i>
                                                        <span>7240 Ontario Avenue
                                                            <br>Indiana,USA</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="campus">
                                                <h4>United States</h4>
                                                <ul class="campus-details">
                                                    <li>
                                                        <i class="fa fa-mobile"></i>+1-(814)-852-9742</li>
                                                    <li>
                                                        <i class="fa fa-envelope"></i>support@openlabs.com
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-map-marker"></i>
                                                        <span>State College
                                                            <br>Pennsylvania, USA</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ul class="social-list">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- right contact -->
                            <div id="contact-right">
                                <form>
                                    <h4>Send Message</h4>

                                    <p>We will be happy to answer any questions you have.</p>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="email" placeholder="Your Email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="phone" placeholder="Phone numbber">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" placeholder="Message"></textarea>
                                    </div>
                                    <div id="submit-btn">
                                        <a class="btn btn-default btn-primary" href="#" title="Submit" role="button">Submit</a>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Begin Form  -->
        <section class="modal-style" id="modal-form">
            <div class="loginbox">
                <div id="close1">+</div>
                <img src="../images/logo/avatar.png" class="avatar">
                <h1>Login Here</h1>
                <form>
                    <p>Username</p>
                    <input type="text" name="" placeholder="Enter Username">
                    <p>Password</p>
                    <input type="password" name="" placeholder="Enter Password">
                    <input type="submit" name="" value="Login">
                    <a href="#">Lost your password?</a>
                    <br>
                    <a href="#">Don't have an account?</a>
                </form>

            </div>
        </section>

        <section id="bg-modal" class="modal-style">

            <div class="loginbox">
                <div id="close">+</div>
                <img src="../images/logo/avatar.png" class="avatar">
                <h1>Sign Up</h1>
                <form>
                    <p>School Email</p>
                    <input type="text" name="" placeholder="Enter Username">
                    <p>Password</p>
                    <input type="password" name="" placeholder="Enter Password">
                    <input type="submit" name="" value="SignUp">
                </form>

            </div>
        </section>
        <!-- End Form -->
        <!-- End of contact section -->
        <!-- Footer -->
        <% include partials/footer %>