<% include partials/header %>
    <!-- Preloader -->
    <div id="preloader">
        <div id="stats">&nbsp;</div>
    </div>

    <!-- Header -->
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navy-bar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--logo-->
                    <a class="navbar-brand smooth-scroll" href="#home">
                        <img src="images/logo/logo2.png" alt="logo">
                    </a>
                    <!-- end logo-->
                </div>

                <!-- Main Menu -->
                <div class="collapse navbar-collapse" id="navy-bar">
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a class="smooth-scroll" href="#home">Home</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" href="#team">Team</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" href="#contact">Contact</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" href="#SignUp">SignUp</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" href="#Login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Header Ends -->

    <!--Home Section-->
    <section id="home">
        <!--video-->
        <video id="home_video" autoplay muted poster="/images/video/poster.jpg" loop="loop">
            <source src="/images/video/openlabs_1.mp4">
            <source src="/images/video/solo.ogv">
            <source src="/images/video/solo.webm">
        </video>
        <!--Overlay-->
        <div id="home_overlay">

        </div>
        <!-- Home Content -->
        <div id="home_text">

            <div id="home_inner" class="text-center">

                <div id="home-heading">
                    <h1 id="home-heading-1">Lorem</h1>
                    <br>
                    <h1 id="home-heading-2">Ipsum
                        <span>Donor</span>
                    </h1>
                </div>

                <div id="sub-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam in nihil minima unde qui nihil minima.</p>
                </div>

            </div>

        </div>

        <!-- Arrow Down -->
        <a href="#about" id="arrow-down" class="smooth-scroll">
            <i class="fa fa-angle-down"></i>
        </a>

        </section>

    <!-- About us Section -->
    <section id="about">
	<div class="container">
	    <div class="col-md-5 story">
		<h2>
		    <u>Our Story</u>
		</h2>  
		<p>
		    Blessed is the man who doesn't walk in the counsel of the wicked, nor stand in the way of sinners, nor sit in the seat of scoffers; but his delight is in Yahweh's law.
		    On his law he meditates day and night.
		    He will be like a tree planted by the streams of water, that brings forth its fruit in its season, whose leaf also does not wither.
		    Whatever he does shall prosper.

		    Blessed is the man who doesn't walk in the counsel of the wicked, nor stand in the way of sinners, nor sit in the seat of scoffers; but his delight is in Yahweh's law.
		    On his law he meditates day and night.
		    He will be like a tree planted by the streams of water, that brings forth its fruit in its season, whose leaf also does not wither.
		    Whatever he does shall prosper.
		</p>
	    </div>
	    <div id="myCarousel" class="carousel slide col-md-offset-1 col-md-6" data-ride="carousel">
		<!-- Indicators  -->
		<ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
		    <div class="item active">
			<img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="">
		    </div>
		    
		    <div class="item">
			<img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="">
		    </div>
		    
		    <div class="item">
			<img src="https://www.w3schools.com/bootstrap/ny.jpg" alt="">
		    </div>

		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		    <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		    <span class="sr-only">Next</span>
		</a>
	    </div>
	</div>
	<div class="container cards">
	    <div class="row">
		<div class="col-md-6 item">
		    <i class="fa fa-superpowers fa-4x"></i>
		    <p>
			Blessed is the man who doesn't walk in the counsel of the wicked, nor stand in the way of sinners, nor sit in the seat of scoffers; but his delight is in Yahweh's law.
			On his law he meditates day and night.
			He will be like a tree planted by the streams of water, that brings forth its fruit in its season, whose leaf also does not wither.
		    </p>
		    <hr>
		</div>
		<div class=" col-md-6 item">
		    <i class="fa fa-bomb fa-4x"></i>
		    <p>
			Blessed is the man who doesn't walk in the counsel of the wicked, nor stand in the way of sinners, nor sit in the seat of scoffers; but his delight is in Yahweh's law.
			On his law he meditates day and night.
			He will be like a tree planted by the streams of water, that brings forth its fruit in its season, whose leaf also does not wither.
		    </p>
		    <hr>
		</div>
	    </div>
	    <div class="row">
		<div class="col-md-6 item">
		    <i class="fa fa-home fa-4x"></i>
		    <p>
			Blessed is the man who doesn't walk in the counsel of the wicked, nor stand in the way of sinners, nor sit in the seat of scoffers; but his delight is in Yahweh's law.
			On his law he meditates day and night.
			He will be like a tree planted by the streams of water, that brings forth its fruit in its season, whose leaf also does not wither.
		    </p>
		    <hr>
		</div>
		<div class="col-md-6 item">
		    <i class="fa fa-camera-retro fa-4x"></i>
		    <p>
			Blessed is the man who doesn't walk in the counsel of the wicked, nor stand in the way of sinners, nor sit in the seat of scoffers; but his delight is in Yahweh's law.
			On his law he meditates day and night.
			He will be like a tree planted by the streams of water, that brings forth its fruit in its season, whose leaf also does not wither.
		    </p>
		    <hr>
		</div>
	    </div>
	</div>
    </section>

    <!-----Team section -->
    <section id="team">

        <div class="content-box-lg">
            <div class="container">
                <!--Team members left nd right-->
                <div class="row ">

                    <div class="col-lg-6">

                        <div id="left-team">

                            <div class="vertical-heading">
                                <h5>Open Labs</h5>
                                <h2>Meet Our
                                    <strong>Talented</strong>
                                    <br>Team</h2>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, repellat, eos! Dignissimos
                                expedita totam cum quidem autem alias dolorum error a quia optio eligendi, amet animi reprehenderit,
                                quaerat.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div id="team-members" class="owl-carousel owl-theme">

                            <div class="team-member">
                                <img src="images/team/team-1.jpg" alt="team-member" class="img-responsive">
                                <div class="team-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Ayo Aloko</h6>
                                        <p>Backend Developer</p>

                                        <ul class="social-list">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                            <div class="team-member">
                                <img src="images/team/team-2.jpg" alt="team-member" class="img-responsive">
                                <div class="team-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Javier Campos</h6>
                                        <p>Backend Developer</p>
                                        <ul class="social-list">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="team-member">
                                <img src="images/team/team-3.jpg" alt="team-member" class="img-responsive">
                                <div class="team-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Chukwurah Somtoo</h6>
                                        <p>Full Stack Developer</p>

                                        <ul class="social-list">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="skill-elements">
                    <!--skill bar-->
                    <div class="row">
                        <div class="col-lg-6">

                            <!-- Skill 1 -->
                            <div class="skill">
                                <h4>HTML</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                        <span>90%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="skill">
                                <h4>Javascript</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                        <span>60%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="skill">
                                <h4>CSS</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                        <span>60%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="skill">
                                <h4>NODE JS</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                        <span>60%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Team section is over  -->

    <!-- statement section -->
    <section id="statement">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="tech-statement" class="text-center">
                            <h3>
                                <i class="fa fa-quote-left"></i> Dolor sit amet, consectetur adipisicing elit. Dolore, repellat, eos! Dignissimos expedita
                                totam cum quidem autem alias dolorum error a quia optio eligendi
                                <i class="fa fa-quote-right"></i>
                            </h3>
                            <p>-Lorem Ipsum-</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of statement section -->

    <!-- Begining of contact section -->
    <section id="contact">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- left contact -->
                        <div id="contact-left">

                            <div class="vertical-heading">
                                <h5>Open Labs</h5>
                                <h2>Contact
                                    <br>
                                    <strong>Us</strong>
                                </h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, quasi itaque, numquam expedita
                                ex officia quis magnam possimus natus eaque consequatur eos iusto molestias! Minus nostrum
                                veritatis aperiam reiciendis iste!</p>

                            <div id="campuses">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="campus">
                                            <h4>United States</h4>
                                            <ul class="campus-details">
                                                <li>
                                                    <i class="fa fa-mobile"></i>+1-(470)-567-4210</li>
                                                <li>
                                                    <i class="fa fa-envelope"></i>support@openlabs.com
                                                </li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>
                                                    <span>524 Mina Street Building 05
                                                        <br>Newyork, USA</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="campus">
                                            <h4>United States</h4>
                                            <ul class="campus-details">
                                                <li>
                                                    <i class="fa fa-mobile"></i>+1-(470)-567-4210</li>
                                                <li>
                                                    <i class="fa fa-envelope"></i>support@openlabs.com
                                                </li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>
                                                    <span>524 Mina Street Building 05
                                                        <br>Newyork, USA</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="social-list">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- right contact -->
                        <div id="contact-right">
                            <form>
                                <h4>Send Message</h4>

                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="email" placeholder="Your Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="phone" placeholder="Phone numbber">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="message" placeholder="Message"></textarea>
                                </div>
                                <div id="submit-btn">
                                    <a class="btn btn-default btn-primary" href="#" title="Submit" role="button">Submit</a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of contact section -->


























    <section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
    <% include partials/footer %>
