<% include partials/header %>

    <!-- Preloader -->
    <div id="preloader">
        <div id="stats">&nbsp;</div>
    </div>

    <!-- Header -->
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navy-bar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--logo-->
                    <a class="navbar-brand smooth-scroll" href="#home">
                        <img src="images/logo/logo2.png" alt="logo">
                    </a>
                    <!-- end logo-->
                </div>

                <!-- Main Menu -->
                <div class="collapse navbar-collapse" id="navy-bar">
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a class="smooth-scroll" href="#home">Home</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" href="#team">Team</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" href="#contact">Contact</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" href="#SignUp">SignUp</a>
                        </li>
                        <li>
                            <a class="smooth-scroll" href="#Login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Header Ends -->

    <!--Home Sections-->
    <section id="home">
        <!--video-->
        <video id="home_video" autoplay muted poster="/images/video/poster.jpg" loop="loop">
            <source src="/images/video/openlabs_1.mp4">
            <source src="/images/video/solo.ogv">
            <source src="/images/video/solo.webm">
        </video>
        <!--Overlay-->
        <div id="home_overlay">

        </div>
        <!-- Home Content -->
        <div id="home_text">

            <div id="home_inner" class="text-center">

                <div id="home-heading">
                    <h1 id="home-heading-1">Lorem</h1>
                    <br>
                    <h1 id="home-heading-2">Ipsum
                        <span>Donor</span>
                    </h1>
                </div>

                <div id="sub-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam in nihil minima unde qui nihil minima.</p>
                </div>

            </div>

        </div>

        <!-- Arrow Down -->
        <a href="#about" id="arrow-down" class="smooth-scroll">
            <i class="fa fa-angle-down"></i>
        </a>

    </section>
    <!-----Team section -->
    <section id="team">

        <div class="content-box-lg">
            <div class="container">
                <!--Team members left nd right-->
                <div class="row ">

                    <div class="col-lg-6">

                        <div id="left-team">

                            <div class="vertical-heading">
                                <h5>Who Are We</h5>
                                <h2>Meet Our
                                    <strong>Talented</strong>
                                    <br>Team</h2>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, repellat, eos! Dignissimos
                                expedita totam cum quidem autem alias dolorum error a quia optio eligendi, amet animi reprehenderit,
                                quaerat.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div id="team-members" class="owl-carousel owl-theme">

                            <div class="team-member">
                                <img src="images/team/team-1.jpg" alt="team-member" class="img-responsive">
                                <div class="team-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Ayo Aloko</h6>
                                        <p>Backend Developer</p>

                                        <ul class="social-list">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                            <div class="team-member">
                                <img src="images/team/team-2.jpg" alt="team-member" class="img-responsive">
                                <div class="team-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Javier Campos</h6>
                                        <p>Backend Developer</p>
                                        <ul class="social-list">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="team-member">
                                <img src="images/team/team-3.jpg" alt="team-member" class="img-responsive">
                                <div class="team-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Chukwurah Somtoo</h6>
                                        <p>Full Stack Developer</p>

                                        <ul class="social-list">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="skill-elements">
                    <!--skill bar-->
                    <div class="row">
                        <div class="col-lg-6">

                            <!-- Skill 1 -->
                            <div class="skill">
                                <h4>HTML</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                        <span>90%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="skill">
                                <h4>Javascript</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                        <span>60%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="skill">
                                <h4>CSS</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                        <span>60%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="skill">
                                <h4>NODE JS</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                        <span>60%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>





























    <section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
    <% include partials/footer %>