/* ===================== */
/* ====== SECOND PAGE */

html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #fff;
    overflow: hidden;
}
.navbar {
    padding: 35px 0 20px 0;
}

.site-nav-wrapper {
    padding: 0 85px;
}

.navbar-brand {
    padding: 0;
}

/* used an id to getover specificity */

#navy-bar li a {
    font-family: "Raleway", sans-serif;
    color:#fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.vertical-heading h5 {
    color: #08b2bf;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -53px;
}

.vertical-heading h2 {
    margin: 0 0 0 35px;
}
/* Overide navbar-default background*/
#overide{
    background-color: black;
}
.navbar-default {
    background:black;
    border: none;
}
.btn-success {
    color: #fff;
    background-color: #08b2bf;
    border-color:  #08b2bf;
}

.scale{
    width: 926px;
    height: 513px !important;
}
/* ==Riht side */
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    padding-top: 15px;
}
/* ===RESULT SECTION */
.header-1 {
    text-align: center;
    font-weight: 300;
    font-size: 54px;
    padding: .7em 0 .5em;
    line-height: 1.2;
}
.header-2 {
    background: #08b2bf;
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding: .65em 0;
    line-height: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
}
.header-3 {
    background: #eaeaea;
    text-align: center;
    font-size: 22px;
    padding: .5em 0;
    line-height: 1.2;
    margin-bottom: .2em;
    font-weight: 400;
    font-style: bold;
}

#expand{

        display: inline-block;
        background: white;
        padding: 0 .5em;
        vertical-align: middle;
}
.showMore {
    background: none;
    background-size: 80% 1px;
    background-image: linear-gradient(to right, #fff 10%, #dcdcdc 25%, #dcdcdc 75%, #fff 90%);
    background-repeat: no-repeat;
    background-position: 50%;
    border: 0;
    display: block;
    width: 100%;
    clear: both;
    font-weight: normal;
    font-size: 1empx;
    color: inherit;
    font-size: 1.32em;
    position: relative;
    padding: .7em 0;
    text-align: center;
    cursor: pointer;
    color: #08b2bf;
}

.callfn a:hover
{
    border: 50px;
    border-color: #08b2bf;
}


.horizontal-heading h2,
.vertical-heading h2 {
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
}

.horizontal-heading {
    margin-bottom: 80px;
}

.horizontal-heading h5 {
    font-size: 16px;
    color: #08b2bf;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.horizontal-heading h2 {
    margin: 0;
}

/* Footer */

footer {
    background: black;
    padding: 30px;
}

footer p {
    color: #fff;
    line-height: 20px;
}

footer p span {
    color: #08b2bf;
}


#myCarousel a {
    background: none;
}

